<h1>Hello world from hello!</h1>

<%= link_to('index page', {:controller => 'demo', :action => 'index'})%><br/>

<%= 1 + 1 %><br />


<% target = "world" %>
<%= "Hello #{target}" %>

<br />

<% @array.each do |n| %>

<%= n %> <br />
  <% end %>


<br />

ID: <%= @id %> <br />
ID: <%= params[:id] %> <br />
Page: <%= @page %> <br />
Next page: <%= @page.to_i + 1 %> <br />
